<!-- <app-Home></app-Home>
<app-Login></app-Login>
<app-Product></app-Product>
<app-contactUs></app-contactUs> -->



<nav>
<!-- routerLink is as same as href -->
 <a routerLink="home">Home</a>
<!-- <a routerLink="product">Product</a> -->


<select name="categories" id="categories">
  <option value="eyes">Eyes</option>
  <option value="lips">Lips</option>
  <option value="blushes">Blushes</option>
  <option value="nails">Nails</option>
  <option value="foundation">Foundation</option>
</select>






<a routerLink="login">Login</a>
<a routerLink="contactUs">ContactUs</a>
<a routerLink="register">Register</a>
<a routerLink="Logout">Logout</a>
</nav>

<!-- router-outlet ==>where i want that output -->
<router-outlet></router-outlet>

<!-- <app-register></app-register> -->
<!-- <app-signin></app-signin> -->
